Django==2.1.7
django-cors-headers==2.4.1
django-filter==2.1.0
djangorestframework==3.9.2
djangorestframework-jwt==1.11.0
Markdown==3.0.1
numpy==1.16.2
pandas==0.24.1
psycopg2==2.7.7
psycopg2-binary==2.7.7
PyJWT==1.7.1
python-dateutil==2.7.3
pytz==2018.4
six==1.11.0
xlrd==1.1.0
